a {
  cursor: pointer;
}

a:focus,
button:focus {
  outline: none;
}

.map {
  height: 300px;
}

.btn-group-vertical .btn .fa {
  padding-right: 5px;
}

.btn-group-vertical .btn {
  text-align: left;
}

.input-group-btn .btn {
  background: transparent;
  box-shadow: none;
}

.input-group-btn .btn:hover {
  background: rgba(0, 0, 0, 0.1);
}

.spinner>div>div {
  display: block;
  margin: auto;
  margin-top: 250px;
}